# LLM Configuration
OPENAI_API_KEY=sk-your-openai-key-here

# AWS Configuration (For S3 and EKS)
AWS_ACCESS_KEY=your-aws-access-key
AWS_SECRET_KEY=your-aws-secret-key
AWS_BUCKET_NAME=your-s3-bucket-name
AWS_REGION=us-east-1

# Database Configuration
POSTGRES_DB=ai_platform
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost

# Vector DB
VECTOR_DB_PATH=vector_db
